@page

@using ViewModels;
@model FUNewsManagement.Pages.News.DetailsModel
@{
    ViewData["Title"] = "Details";
    var listComment = ViewData["ListComment"] as List<CommentVM>;
}

<h2>News Details</h2>

<div style="margin-top: 20px">

    <h4>@Model.DetailVM.NewsTitle</h4>
    <hr />

    <table>
        <tr>
            <th class="col-sm-2">HeadLine :</th>
            <td>@Model.DetailVM.Headline</td>
        </tr>
        <tr>
            <th class="col-sm-2">Created Date :</th>
            <td>@Model.DetailVM.CreatedDate?.ToString("dd/MM/yyyy") </td>
        </tr>
        <tr>
            <th class="col-sm-2">Modified Date :</th>
            <td>@Model.DetailVM.ModifiedDate?.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <th class="col-sm-2">News Content :</th>
            <td>@Model.DetailVM.NewsContent</td>
        </tr>
        <tr>
            <th class="col-sm-2">News Source :</th>
            <td>@Model.DetailVM.NewsSource</td>
        </tr>
        <tr>
            <th class="col-sm-2">Tags :</th>
            <td>
                @(Model.DetailVM.Tags.Any() == true ? string.Join(", ", Model.DetailVM.Tags.Select(t => t.TagName)) : "N/A")
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">Category :</th>
            <td>@Model.DetailVM.Category.CategoryName</td>
        </tr>
        <tr>
            <th class="col-sm-2">Created By :</h>
            <td>@Model.DetailVM.CreatedBy.AccountName</td>
        </tr>
    </table>
</div>

<div style="margin-top: 50px; margin-bottom: 20px">
    <h4>Comment</h4>
    <hr />
    <form asp-page="/Comment/Create" method="post">
        <div class="row justify-content-center align-content-center w-100 m-auto">
            <div class="col-md-12 col-sm-10">
                <input type="hidden" name="NewsArticleId" value="@Model.DetailVM.NewsArticleId" />
                <div class="row mb-2">
                    <textarea name="Content" class="form-control" rows="4"></textarea>
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-2 text-end px-0">
                        <button type="submit" class="btn btn-primary">Save Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@if (listComment != null && listComment.Any())
{
    <div class="row justify-content-center align-content-center">
        <div class="col-md-12 col-sm-10">
            @foreach (var comment in listComment)
            {
                <form asp-page="/Comment/Edit" method="post">
                    <div class="row justify-content-between my-2">
                        <div class="col-md-2">
                            <strong>@comment.Account.AccountName :</strong>
                        </div>
                        <div class="col-md-8">
                            <input type="text" value="@comment.Content" class="form-control" disabled />
                        </div>
                        <div class="col-md-2 text-end">
                            <button type="submit" class="btn btn-success">Edit</button>
                            <a asp-page="/Comment/Delete" asp-route-commentId="@comment.CommentID" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
}

<div style="margin-top: 20px">
    @if (ViewBag.Role == "Staff")
    {
        <a asp-page="/News/Edit" asp-route-id="@Model?.DetailVM.NewsArticleId">Edit</a> <span> | </span>
        <a asp-page="/News/List">Back to List</a>
    }
    else
    {
        <a asp-page="/Home/Index">Back to List</a>
    }
</div>
