@page

@using Models;
@using ViewModels;


@model FUNewsManagement.Pages.News.EditModel
@{
    ViewData["Title"] = "Edit";

    var categories = ViewData["Categories"] as List<CategoryDetailVM>;
    var tags = ViewData["Tags"] as List<Tag>;
}

<h1>Edit</h1>

<h4>News Article</h4>
<hr />

<div class="my-5">
    <form method="post">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <input type="hidden" asp-for="NewsVM.NewsArticleId" />
                <div class="row">
                    <label asp-for="NewsVM.NewsTitle" class="col-form-label">News Title</label>
                    <input asp-for="NewsVM.NewsTitle" class="form-control" />
                    <span asp-validation-for="NewsVM.NewsTitle" class="text-danger"></span>
                </div>
                <div class="row">
                    <label asp-for="NewsVM.Headline" class="col-form-label">Headline</label>
                    <input asp-for="NewsVM.Headline" class="form-control" />
                    <span asp-validation-for="NewsVM.Headline" class="text-danger"></span>
                </div>
                <div class="row">
                    <label asp-for="NewsVM.NewsContent" class="col-form-label">News Content</label>
                    <textarea asp-for="NewsVM.NewsContent" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="NewsVM.NewsContent" class="text-danger"></span>
                </div>
                <div class="row pt-3">
                    <div class="col-md-6 d-flex align-items-center ps-0">
                        <label asp-for="NewsVM.NewsSource" class="col-form-label me-3">News Source</label>
                        <input asp-for="NewsVM.NewsSource" class="form-control w-75" />
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-between pe-0">
                        <label asp-for="NewsVM.CategoryId" class="col-form-label me-5">Category</label>
                        <select asp-for="NewsVM.CategoryId" class="form-select w-75">
                            @foreach (var cate in categories)
                            {
                                <option value="@cate.CategoryId" selected="@(Model.NewsVM?.CategoryId == cate.CategoryId)">
                                    @cate.CategoryName
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-6 d-flex align-items-center ps-0">
                        <label asp-for="NewsVM.Tags" class="col-form-label me-5">Tags</label>
                        <div class="d-flex flex-wrap" style="max-height: 50px; overflow-y: scroll">
                            @foreach (var tag in tags)
                            {
                                <div class="me-3">
                                    <input type="checkbox" name="NewsVM.Tags" value="@tag.TagId"
                                           checked="@(Model.NewsVM?.Tags?.Contains(tag.TagId))" class="form-check-input" />
                                    <span class="form-check-label">@tag.TagName</span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-start pe-0">
                        <label asp-for="NewsVM.NewsStatus" class="col-form-label me-5">News Status</label>
                        <div class="me-3">
                            <input type="radio" asp-for="NewsVM.NewsStatus" value="true" class="form-check-input" />
                            <span class="form-check-label">Enable</span>
                        </div>
                        <div>
                            <input type="radio" asp-for="NewsVM.NewsStatus" value="false" class="form-check-input" />
                            <span class="form-check-label">Disable</span>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-between mt-4">
                    <div class="col-md-5 ps-0">
                        @if (ViewData["Success"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show rounded-0 py-2">
                                <span>@ViewData["Success"]</span>
                                <button type="button" class="btn-close pt-2" data-bs-dismiss="alert"></button>
                            </div>
                        }
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <button type="submit" class="btn btn-primary py-2 w-100">Save Change</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-page="/News/List">Back to List</a>
</div>