@page
@model FUNewsManagement.Pages.Category.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>Category Details</h2>

<hr />
<div style="margin-top: 20px">
    <table>
        <tr>
            <th class="col-sm-2">Category ID :</th>
            <td>@Model.CategoryDetail.CategoryId</td>
        </tr>
        <tr>
            <th class="col-sm-2">Category Name :</th>
            <td>@Model.CategoryDetail.CategoryName</td>
        </tr>
        <tr>
            <th class="col-sm-2">Category Desciption :</th>
            <td>@Model.CategoryDetail.CategoryDesciption</td>
        </tr>
        <tr>
            <th class="col-sm-2">Status :</th>
            <td>@Model.CategoryDetail.Status</td>
        </tr>
    </table>
</div>
<div style="margin-top: 50px">
    <a asp-page="/Category/Edit" asp-route-id="@Model.CategoryDetail.CategoryId">Edit</a> |
    <a asp-page="/Category/List" >Back to List</a>
</div>

